
.nav {
  font-family: Poiret One, sans-serif;
  font-size: 1.5em;
  color: goldenrod;
  width: 100%;
  margin-bottom: 1.5rem;
  opacity: 0;
  animation: fadeInImage 1s forwards;
  animation-delay: 5ms;

  @keyframes fadeInImage {
    to {
      opacity: 1;
    }
  }


  .logo {
    scale:200%;
    padding-top: 3rem;
  }

  .menu-toggle {
        display: none;
        font-size: 2rem;
        cursor: pointer;
        padding: 1rem;
      }


  .menu_item {
    border-bottom: none;
    padding-top: 6.5rem;


    &::before {
      content: '';
      position: absolute;
      width: 0;
      left: 50%;
      bottom: 0;
      height: 1px;
      background-color: goldenrod;
      transform: translate(-50%, 100%);
      transition: 300ms width;
    }

    &:hover::before {
      width: 45%;
    }

    &:hover .submenu {
      display: flex;
      width: 100vw;
    }
  }



}

@media (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    width: 100vw;


    .menu-toggle {
      display: block;
      position: absolute;
      top: 2rem;
      right: 15rem;
      font-size: 2rem;
      cursor: pointer;
      z-index: 1100;
      margin-bottom: 4rem;
    }

    //.menu_item {
    //  display: none;
    //  width: 100%;
    //  text-align: center;
    //  padding: 0.3rem;
    //
    //}

    //.menu_item.open {
    //  display: block;
    //  opacity: 0;
    //  animation: fadeInImage 500ms forwards;
    //  animation-delay: 1ms;
    //
    //  @keyframes fadeInImage {
    //    to {
    //      opacity: 1;
    //    }
    //  }
    //}


    .menu_item {
      display: none;

  }

  .menu_item.open {
    position: absolute;
    height: 1.6rem;
    //background: rgba(0, 0, 0, 0.1); /* Półprzezroczyste menu */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    transition: right 0.3s ease-in-out;
    z-index: 2000;
    opacity: 0;
      animation: fadeInImage 500ms forwards;
      animation-delay: 1ms;

      @keyframes fadeInImage {
        to {
          opacity: 1;
        }
      }
  }

  .menu_item a {
    color: goldenrod;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    margin-left: -15px!important;
  }

  }
}

