.nav{
  padding: 3rem;

  .logo {
    scale: 400%;
    margin: 20px 0;
  }
}


.menu {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
  font-family: Poiret One, sans-serif;
  font-size: 1.5rem;
  color: goldenrod;

  .menu_item {
    margin: 1rem 2rem;
    padding: 0.5rem 0.5rem;
    border-bottom: none;


    &::before {
      content: '';
      position: absolute;
      width: 0;
      left: 50%;
      bottom: 0;
      height: 1px;
      background-color: goldenrod;
      transform: translate(-50%, 100%);
      transition: 300ms width;
    }

    &:hover::before {
      width: 100%;
    }

    &:hover .submenu {
      display: flex;
      width: 100vw;
    }
  }
}
