.price_list_submenu {
  opacity: 0;
  animation: fadeInImage 2s forwards;
  animation-delay: 10ms;

  @keyframes fadeInImage {
    to {
      opacity: 1;
    }
  }

  .submenu_item {
  }
}

.price_list_section {
  //background-color: rgba(200, 200, 200, 0.2);
  margin-bottom: 9rem;
  //padding: 1rem 1rem;
  opacity: 0;
  animation: fadeInImage 2s forwards;
  animation-delay: 10ms;

  @keyframes fadeInImage {
    to {
      opacity: 1;
    }
  }
}

h1 {
  font-family: "Poiret One", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

  .price_list_heading {
    font-family: "Poiret One", sans-serif;
    text-transform: uppercase;
  }

  .heading_description {
    font-family: "Poiret One", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 0;
    line-height: 0.2;
  }

  .price_list_text {
    font-family: "Poiret One", sans-serif;
  }

  .price_list_item {
    font-family: "Poiret One", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 0.2rem 1rem;

    .price_list_description {
      color: black;
    }
    .price_list_price {
      color: black;
    }


  }

  //.price_list_text {
  //  padding-top:1rem;
  //}

  hr {
    border-top: 0.8px solid goldenrod;
    margin: 1em -4rem;
  }

.price_list_submenu {

    .submenu {

      text-transform: uppercase;
      font-size: 0.9rem;
      margin-top: 10px;

      .submenu_item {
        font-family: "Poiret One", sans-serif;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }


@media (max-width: 768px) {
.price_list_section{
  > :last-child {
    margin-bottom: -20%;
  }
  .price_list_row {

    h1 {
      font-family: "Poiret One", sans-serif;
      font-size: 1.8rem;
      text-transform: uppercase;
      margin: -3% 0;
    }

    .price_list_heading {
      font-family: "Poiret One", sans-serif;
      font-size: 1.2rem;
      text-transform: uppercase;
      margin-top: 3.5rem;
      margin-bottom: 0.6rem;
    }

    .heading_description {
      font-family: "Poiret One", sans-serif;
      font-size: 1rem;
      margin-bottom: 1.5rem;
      line-height: 0;
    }

    .price_list_text {
      font-family: "Poiret One", sans-serif;
      font-size: 0.85rem;
      line-height: 1.2rem;
      margin-bottom: 3%;
    }

    .price_list_item {
      font-family: "Poiret One", sans-serif;
      font-size: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-transform: uppercase;
      padding: 0.2rem 0.3rem;
          }
  }
}


  .submenu {
    > :nth-child(2) {
      padding-top: 1.5rem;
    }
  }

  .submenu_item {
    line-height: 0.25rem;
  }

  hr {
    border-top: 0.8px solid goldenrod;
    margin: 0 auto;
  }
}

