.treatments_heading {
    margin-top: 5rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.submenu {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 10px;

  .submenu_item {
    font-family: "Poiret One", sans-serif;
    margin-top: 2rem;
    &:hover {
      cursor: pointer;
    }
  }
}


//main {
//  margin: 50px auto;
//  width: 500px;
//}
//section {
//  margin-top: 30px;
//  padding: 20px;
//  box-shadow: 0 3px 5px rgba(0,0,0,0.15);
//}
.dropdown {
  width: 230px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
//.dropdown.toggle > input {
//  display: none;
//}
.dropdown > a, .dropdown.toggle > button {
  border-radius: 2px;
  box-shadow: 0 6px 5px -5px rgba(0,0,0,0.3);
}
.dropdown > a::after, .dropdown.toggle > button::after {
  content: "";
  float: right;
  margin: 15px 15px 0 0;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #CCC;
}
.dropdown ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-top: 1rem;
  position: relative;
  width: 100%;
  box-shadow: 0 6px 5px -5px rgba(0,0,0,0.3);
  overflow: hidden;
}
.dropdown a, .dropdown.toggle > button {
  display: block;
  padding: 0 0 0 10px;
  text-decoration: none;
  line-height: 40px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: #999;
  background-color: #FFF;
}
.dropdown li {
   //height: 0.2;
  overflow: hidden;
  transition: all 500ms;
}
.dropdown.hover li {
  transition-delay: 300ms;
}
.dropdown li:first-child a {
  border-radius: 2px 2px 0 0;
}
.dropdown li:last-child a {
  border-radius: 0 0 2px 2px;
}
.dropdown li:first-child a::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FFF;
  margin: -10px 0 0 30px;
}
.dropdown a:hover, .dropdown.toggle > button:hover, .dropdown.toggle > input:checked ~ button {
  background-color: #EEE;
  color: #666;
}
.dropdown > a:hover::after, .dropdown.toggle > button:hover::after, .dropdown.toggle > input:checked ~ button::after {
  border-top-color: #AAA;
}
.dropdown li:first-child a:hover::before {
  border-bottom-color: #EEE;
}
.dropdown.hover:hover li, .dropdown.toggle > input:checked ~ ul li {
  height: 40px;
}
//.dropdown.hover:hover li:first-child, .dropdown.toggle > input:checked ~ ul li:first-child {
//  padding-top: 15px;
//}

.toggle .menu {
  display: none;
}
//
//.toggle input:checked ~ .menu {
//  display: block;
//}